.topsection{
  background-image: url('../../public/SL.123119.26540.04.jpg');
 /* background-color: black; */
    /* height: ; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* margin-top: 10px; */
    margin-bottom: 30px;
    padding: 60px 60px;
    /* padding-top: 190px; */
    height: 300px !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;

  }
  