@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: black;
  --secondary-color: white;
}
.primary-btn {
  /* font-size: ; */
  color: var(--primary-color);
  padding: 5px 20px;
  border: 1px solid var(--primary-color);
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}
.primary-btn:hover {
  background-color: var(--primary-color);
  color: white;
}
/* navbar */
.menu {
  width: 90%;
  margin: auto;
  padding-top: 10px;
  font-size: 0.833em;
  font-weight: 500;
}
.secondary-btn {
  color: var(--secondary-color);
  padding: 5px 20px;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
}
.secondary-btn:hover {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
/* topbar section */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.topsection {
  animation: fadeIn 0.8s ease forwards;
}

.signup-form {
  animation: slideUp 0.8s ease 0.3s forwards;
}

.white-heading-text {
  color: var(--secondary-color);
  font-size: 3rem;
  font-weight: 700;
}

.signup-form {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-form form {
  border: 1px solid white;
  padding: 3px 5px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.signup-form input {
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--secondary-color);
}
.signup-form input:focus {
  border: none;
  outline: none;
}
.secondary-btn-no-hover {
  color: var(--secondary-color);
  padding: 5px 20px;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
}
.signup-form svg {
  margin-left: 15px;
  width: 26px;
  fill: white;
}
.top-section-boxes {
  width: 70%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  gap: 90px;
}

.d3-tilt-container {
  transition: transform 0.5s ease;
}

.d3-tilt-container:hover {
  transform: rotateY(10deg) rotateX(10deg);
}
body{
  overflow-x: hidden !important;
}
/*  box sec tion */
.topp-section-box {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
  /* margin-right: 90px; */
  text-align: left;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*  content section */
.category-tabs {
  width: 40%;
  display: flex;
  margin: auto;
  margin-top: 30px;
  justify-content: space-around;
  align-items: center;
}
.category-tab {
  border: 1px solid grey;
  font-size: 18px;
  cursor: pointer;
  color: grey;
  border-radius: 50px;
  padding: 10px 30px;
}
.category-tab-active {
  border: 2px solid black;
  color: black;
}
.tab-content {
  border-radius: 10% !important;
  height: 180px !important;
  width: 180px !important;
  background-repeat: no-repeat;
  color: white;
  font-size: 18px;
  position: relative !important;
  align-items: end;
  background-size: cover;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  align-items: start;
  padding-top: 5px;
  flex-shrink: 0; 
  font-size: 14px;
}

.tab-contents {
  width: 100%; 
position: relative;
  overflow-y: hidden;
  overflow-x: auto; 
  gap: 13px;
  display: flex; 
  flex-wrap: nowrap; 
  margin-bottom: 12px;
  margin-top: 6px;
}
.tab-contents::-webkit-scrollbar {
  display: none !important;
}
.tab-conten-img {
  border-radius: 10%;
  text-align: center;
  align-items: center;
  align-self: center;
}
.tab-content-text {

}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: black !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cat-names {
  /* margin-bottom: -40px; */
  margin-left: 20px;
}
.trending-sound-box {
  padding: 90px 20px 10px 40px;
  box-shadow: 0 18px 76px -20px rgba(0, 0, 0, 0.24);
}
.trending-song {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 77px !important;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  
}
.trending-song:hover{
  transition: all .3s ease-in-out;
  background-color: #F4F6FA;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.05);
}
.serial-number-song{
  flex-basis: 2%;
}
.artisit{
  flex-basis: 25%;
}
.trending-songs {
  margin-top: 20px;
  border-top: 1px solid #ebf0f1;
  padding-top: 30px;
  padding-bottom: 80px;
}
.serial-number-song {
  margin-right: -20px;
}
.footer {
  /* background-color: var(--primary-color); */
  margin-top: 80px !important;
  border-top: 1px solid rgba(218, 206, 206, 0.484);
  color: black !important;
  padding: 60px 20px;
}
.footer-logo {
  width: 120px;
}
.footer-slogan {
  font-style: italic !important;
  margin-left: 10px;
}
.social-icons svg {
  width: 30px;
}
.social-icons ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary-color);
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: opacity 0.3s;
}

.scroll-to-top:hover {
  opacity: 0.8;
}

.sidebar {
  /* background-color: black; */
  border-right: 1px solid rgba(152, 147, 147, 0.14) !important;

  height: 100vh;
  padding-left: 30px;
padding-top: 20px;
  overflow-y: hidden;
  position: sticky;
}

main {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.main {
  padding-left: 30px;
  padding-right: 40px;
  overflow-y: scroll;
  height: 100vh;
}

.search-form {
  width: 690px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 20px;
}

.search-icon {
  margin-right: 5px;
}

.search-form input {
  border: none;
  outline: none;
  flex: 1;
  padding: 5px;
  border-radius: 5px;
}

.search-form input:focus {
  border: none;
  outline: none;
}


.arrow-btn-left {
  position: sticky;
  /* display: none; */
  color: white;
  padding: 0px 12px;
  height: 142px;
  top:8%;
  left: 0px;
  background-color: black;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 26px;
  z-index: 9;
  opacity: 0;
  transition: all .3s ease-in-out;
}
.arrow-btn-left:hover{
  opacity: 1 !important;
}
.tab-contents:hover .arrow-btn-left{
  /* display: block; */
  opacity: 0.5;
  
}
.logo{
  display: flex;
  align-items: center;
  padding-top: 50px;
}
.arrow-btn-right {
  position: sticky;
  /* display: none; */
  color: white;
  padding: 0px 12px;
  height: 142px;
  top: 10%;
  right: 0px;
  transition: all .3s ease-in-out;
  background-color: black;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 26px;
  z-index: 9;
  opacity: 0;
}
.arrow-btn-right:hover{
  opacity: 1 !important;
}
.tab-contents:hover .arrow-btn-right{
  opacity: 0.8;
  
}
.sidebar-menu{
  border-top: 1px solid rgba(152, 147, 147, 0.14) !important;
  padding-top: 30px;
}

/* sidebar */
.sidebar-menu li{
  padding-left: 12px;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 40px;
  
  color: gray ;
}
.active-li{
  background-color: rgba(0, 0, 0, 0.1); /* Adjust the alpha value (0.1) to control the opacity */
  color: black !important;

}
/*  explore tab */
.explore-tabs{
  display: flex;
  margin-top: 20px;
  margin-bottom: 90px;
  justify-content: space-between;

}
.explore-tab{
  width: 256px;
  height: 129px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  border-radius: 12px;
  cursor: pointer;
}
.explore-tab:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 256px; /* Same width as parent */
  height: 129px; /* Same height as parent */
  background-color: #EBE7EE; /* Color of the overlay */
  border-radius: 12px; /* Ensure the overlay has the same border-radius as the tab */
  opacity: 0.5; /* Adjust the opacity of the overlay as needed */
}